.sidebar {
  float: left;
  text-align: center;
  width: 30%;
  height: 800px;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin: 12px;
  padding: 4px;
}

body {
  background-color: darkred;
}

img {
  float: left;
  padding: 4px;
}

h1 {
  text-align: center;
}